/nonSecureBankServerClient/client/build-client-Desktop_Qt_6_6_1_MinGW_64_bit-Release/*
/nonSecureBankServerClient/client/build-client-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/*
/nonSecureBankServerClient/server/build-server-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/*
/nonSecureBankServerClient/server/build-server-Desktop_Qt_6_6_1_MinGW_64_bit-Release/*
/SecureBankServerClient/client/build-client-Desktop_Qt_6_6_1_MinGW_64_bit-Release/*
/SecureBankServerClient/client/build-client-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/*
/SecureBankServerClient/server/build-server-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/*
/SecureBankServerClient/server/build-server-Desktop_Qt_6_6_1_MinGW_64_bit-Release/*
/V1.2Encrypted/*
/V0.7NonEncrypted/*
