/client/build-client-Desktop_Qt_6_6_1_MinGW_64_bit-Release/*
/client/build-client-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/*
/client app/*
/server app/*
/server/build-server-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/*
/server/build-server-Desktop_Qt_6_6_1_MinGW_64_bit-Release/*
